APP_NAME=FamilyUs
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-app.up.railway.app

LOG_CHANNEL=stderr

DB_CONNECTION=sqlite


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie

FRONTEND_URL=https://frontend-m6pawivoi-fernandogirotos-projects.vercel.app
SANCTUM_STATEFUL_DOMAINS=frontend-m6pawivoi-fernandogirotos-projects.vercel.app
